{% extends 'templates/base.html' %}

{% block principal %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Sobre o Blog</h1>
            <p class="text-justify">Este blog foi criado com o intuito de compartilhar informações sobre diversos assuntos. 
                Aqui você encontrará notícias, artigos, tutoriais e muito mais. 
                Fique à vontade para explorar o conteúdo e interagir com os autores através dos comentários.</p>
        </div>
    </div>



{% endblock %}